body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(240, 128, 231);
  width: 100vw;
}

header {
  background-color: brown;
}

img {
  align-items: center;
  display: flex;
  margin: auto;
  width: 400px;
  border-style: groove;
  border: 400%;
  border-color: black;
  border-radius: 50px;
}

main h3 {
  margin-left: 550px;
  margin-right: 550px;
}

footer {
  background-color: blue;

  margin-top: 50%;
  padding-top: auto;
  padding-bottom: 10px;
}

footer text {
  padding-right: 50%;
}
